.reactCart {
  width: 48rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999999;
  background-color: rgb(254, 254, 254);
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.reactCartActive {
  transition: all 0.5s ease-in;
  right: 0rem;
}

.reactCartInactive {
  right: -48rem;
  transition: all 0.5s ease-out;
}

.reactCartEmpty {
  text-align: center;
}

.reactCartBody {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
