.reactCartItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.reactCartItemImage {
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
}

.reactCartItemDescription {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.reactCartItemTitle {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.reactCartItemPrice {
    font-size: 1.5rem;
}

.reactCartItemControls {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
}

.reactCartItemBtn {
    background-color: #000000;
    color: #ffffff;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.reactCartItemQuantity {
    width: 3rem;
    text-align: center;
}

.reactCartItemLineTotal {
    font-size: 1.5rem;
    font-weight: 600;
}
